<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta http-equiv="refresh" content="2;">
</head>
<body>
  <%- body %>
</body>
</html>