body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table.stats td {
  border: 1px solid #eee;
  padding: 3px;
}
table.stats {
  border-collapse: collapse;
}

